*{max-width: 100%;
}

body { overflow-x: hidden;
}
#especial{ background-color:grey!important;}

.btn{
    align-items:center!important;
    background-color:deeppink!important;
    color: black!important;
    border:1px solid black !important;;
    font-weight: bold!important;
}
.banner1 {display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    background: url(/img/optional_banner_4.jpg);
    background-size: cover;
    background-position: center;
}

.banner2{ display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    background: url(/img/optional_banner_2.jpg);
    background-size: cover;
    background-position: center;

}
.banner3 { display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    background: url(/img/optional_banner_5.jpg);
    background-size: cover;
    background-position: center;
}

.texto {
    justify-content: center;
    color: black;
    font-weight: bold !important;
    font-size:60px;
}

.upc { justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: bold !important;
    font-size:60px;
}

.pst{ justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: bold !important;
    font-size:60px;
}


.form-check-input {border: 2px solid black!important;
    background-color: silver!important;

    }


 #card{ border: 1px solid black;
    width: 230px;
    height: 450px;
    max-width: 100%;
    background-color:grey;
   
}

#img {
    border: 1px solid black;
    width: 220px;
  height: 140px; 
  object-fit: cover; 
   }

.form-control{border: 1px solid black!important;
    background-color:grey!important;
}

.det, html { display: flex;
    flex-direction: column;
     height: 100%;
  }

.dtl {flex-grow: 1;}

#cb {border: 1px solid black;
    background-color:grey;}

#cb2 { border-radius: 4px;
    border: 1px solid black;}

#crd {background-color:deeppink;
color: black;}


#mg{border: 1px solid black;}

.table tr  {border: 1px solid black;
    
}
.table td {border: 1px solid black;
}

.footer-bg {border-top:1px solid black;
    border-bottom:1px solid black ; 
    background-color: black ;
    max-width: 100%;
    color: deeppink;
}
.col-sm-1 {display: flex;
   align-items: flex-start;
    border-radius:  4px;
    border: 1px solid black;
 }

.container {display: flex;
    justify-content: flex-start;
}

#contenedorEventos {margin-left: 60px ;
 }

 #contenedorPasado { margin-left: 60px ;

 }

 #contenedorFuturo {  margin-left: 60px ; 

 }
#detalleEvento {justify-content: center;
   }

main { background-color: silver;}

.busc{ border-radius: 4px;
    border: 2px solid black;
    background-color: silver }

.card-title { display: flex;
    font-weight: bold;
    justify-content: center;
    ;
}

#main {display: flex;
    justify-content: center;   
}

#pre { align-items: start;
    font-weight: bold;
}
#up { display: flex;
    justify-content: center; }

#uppr{ align-items: start;
    font-weight: bold; }

#past {display: flex;
    justify-content: center; 
}
#pastp { align-items: start;
    font-weight: bold;}

.form-check-label { font-weight: bold; }

.stats {font-weight: bold;}

table {
table-layout: fixed; 
}
